* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(42, 39, 39);
    position: relative;
}

.container {
    max-width: 1176px;
    width: 80%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-12 {
    width: 100%;
}

[class^="col-"] {
    padding: 10px;
}


/* SM */
@media screen and (min-width: 568px) {
    .col-sm-6 {
      width: 50%;
    }

    .overview {
        font-size: xx-small;
    }
  }
  
@media screen and (min-width: 768px) {
    .col-md-4 {
        width: calc(100% / 12* 4);
    }

    .overview {
        font-size: x-small;
    }
}

@media screen and (min-width: 1024px) {
    .col-lg-3 {
        width: calc(100% / 12* 3);
    }

    .overview {
        font-size: small;
    }
}
/*
@media screen and (min-width: 1200px) {
    .col-xl-3 {
        width: calc(100% / 12* 3);
        }
}*/


@media screen and (min-width: 1440px) {
    .col-xxl-3 {
        width: calc(100% / 12* 3);
    }

    .overview {
        font-size: medium;
    }
}